@import url('https://fonts.googleapis.com/css2?family=Inter');

*{
    --animation-duration : 1s;
    --font-color: 255, 255, 255;

    font-family: Inter;
}


html, body{
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:25px;
}

.logo{
    overflow: visible;
    animation: bounce var(--animation-duration) var(--animation-duration) ease-in-out infinite;
}

@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

#firstBar{
    animation: firstBar var(--animation-duration) ease-in-out;
}

@keyframes firstBar{
    0%{
        transform: translateX(-200px) translateY(-200px);
    }
    100%{
        transform: rotate(0);
    }
}

#secondBar{
    animation: secondBar var(--animation-duration) ease-in-out ;
}

@keyframes secondBar{
    0%{
        transform:  translateY(400px);
    }
    100%{
        transform: rotate(0);
    }
}

#thirdBar{
    animation: thirdBar var(--animation-duration) ease-in-out;
}

@keyframes thirdBar{
    0%{
        transform: translateX(200px) translateY(200px);
    }
    100%{
        transform: rotate(0);
    }
}

#title{
    margin:0;
    color: rgb(var(--font-color));
    animation: title 0.5s var(--animation-duration) ease-in-out;
    animation-fill-mode: forwards;
    will-change: transform;
    opacity: 0;
}

@keyframes title{
    0%{
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: rotate(0);
    }
}

body{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.catch{
    margin:0;
    color: rgb(var(--font-color));
    animation: catchAnimation 2s var(--animation-duration) ease-in-out;
    animation-fill-mode: forwards;
    will-change: transform;
    opacity: 0;
    font-size: 2rem;
}

@keyframes catchAnimation{
    0%{
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
    }
}